<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../mitCSS.css">
    <title>Opdatere virksomhed</title>
</head>
<body>
<div class="container container-custom">

    <div th:insert="fragments/topMenu" class="menu"></div>

    <h1><br>Opdatere virksomhed</h1>

    <form action="#" th:action="@{/updateCompany}" th:object="${company}" method="post">

        <input type=hidden th:field="*{id}" >
        <span>Virksomhedens navn:<br></span>
        <input type="text" th:field="*{cname}" placeholder="navn">
        <!--<input type="text" th:field="*{company_id}"> -->
        <br>
        <button type="submit">Opdatere</button>
    </form>

</div>
</body>
</html>
