a{
    padding-right: 30px;
}

body {background: cornsilk;}

.container.container-custom
{
    padding:40px 40px;
}

button{
    margin-top: 40px;
    box-shadow: 2px 2px 1px 1px #222;
}

h1 {
    color: blueviolet;
    padding-bottom: 40px;
}

input {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

menu{
    margin-left: 0;
}


table{
    margin-left: 0;
}

textarea{
    width: 300px;
    height: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#tiid{
    display: inline-block;
}

tr td
{
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}







