<!-- Disse linker til getMappings og ikke direkte til siderne -->
<a th:href="@{/}" xmlns:th="http://www.w3.org/1999/xhtml">Til forsiden &nbsp</a>
<a th:href="@{/create}" xmlns:th="http://www.w3.org/1999/xhtml">Opret produkt</a>
<a th:href="@{/companyForside}" xmlns:th="http://www.w3.org/1999/xhtml">Til virksomheder</a>
<a th:href="@{/categoryForside}" xmlns:th="http://www.w3.org/1999/xhtml">Til kategorier</a>
<a th:href="@{/companyDescForside}" xmlns:th="http://www.w3.org/1999/xhtml">Til virksomhedsbeskrivelser</a>
